

html {
  background-color: hsl(310, 0%, 10%);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

#container {
 width: 100vw;
 margin-right: 20vw;
 height: auto;
 margin: 0;
}

#nav {
  position: fixed;
  width: 10vw;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 1.5vw;
  font-size: 1.5vw;
  line-height: 3vw;
  font-variant: small-caps;
  font-family: Georgia, serif;
  text-align: left;
}

#nav a {
  color: white;
  position: relative;
  -webkit-transition: all 0.5s ease;
}

#nav a:hover {
  cursor: pointer;
  opacity: .5;
  text-decoration: none;
}

#nav li {
  list-style-type: none;
}

.titles {
  display: flex;
  margin-left: 18vw;
  padding-bottom: 2vw;
  width: 90vw;
  height: 10vw;
}

.general {
  display: flex;
  margin-left: 12vw;
  width: 90vw;
  height: auto;
}

.words {
  width: 39vw;
  height: auto;
}

.Vpictures {
  display: relative;
  clear: both;
  width: 50vw;
  height: auto;
  margin-right: 0;
}

.Lpictures {
  display: flex;
  margin-left: 10vw;
  padding-bottom: 2vw;
  padding-top: 2vw;
  width: 90vw;
  height: 10vw;
}

.circles {
  display: flex;
  flex-direction: column;
  height: 16vw;
  width: 16vw;
  margin-left: 18vw;
  margin-bottom: -8%;
}

.circle1 {
  position: absolute;
  height: 8vw;
  width: 8vw;
  margin-top: 5vw;
  margin-left: 4vw;
  background-color: hsl(180, 0%, 100%);
  border-radius: 50%;
  opacity: .8;
}

.circle2 {
  position: absolute;
  height: 8vw;
  width: 8vw;
  margin-top: 7vw;
  margin-left: 4vw;
  background-color: hsl(310, 0%, 10%);
  border-radius: 50%;
  z-index: 200;
  opacity: 1;
}

.scales_illustration {
  position: relative;
  display: flex;
  margin-top: -1vw;
  margin-left: 10vw;
  width: 30vw;
  height: 5vw;
}

.scales_illustration_transformx {
  position: absolute;
  display: flex;
  margin-top: -15vw;
  margin-left: 12vw;
  width: 30vw;
  height: 5vw;
}

.grey_scale {
  display: flex;
  flex-direction: row;
  width: 5vw;
  height: 5vw;
  background-color: hsl(180, 0%, 100%);
  border-radius: 50vw;
}

.dark_grey_scale {
  display: flex;
  flex-direction: row;
  width: 5vw;
  height: 5vw;
  background-color: hsl(0, 0%, 80%);
  border-radius: 50vw;
}

.light_grey_scale {
  display: flex;
  flex-direction: row;
  width: 5vw;
  height: 5vw;
  background-color: hsl(0, 0%, 30%);
  border-radius: 50vw;
}

/*trying to use this to make the scales look like they are fading out*/

.overlay {
  display: flex;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(27,27,27,1));
  opacity: .5;
  width: 30vw;
  z-index: 300;
  height: 90vw;
  opacity: .6
}

a:link a:visited a:hover a:active{
	text-decoration: none;
	color: white;
}

.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

p {
	font-family: Georgia, serif;
	font-size: 1.2vw;
  line-height: 2.2vw;
  color: #ccc;
}

a {
	color: white;
	text-decoration: none;
}

.titles h1 {
 margin-left: 25vw;
 text-align: center;
 font-variant: small-caps;
 font-size: 4vw;
 color: white;
}

 .words h1 {
  text-align: center;
  margin: 1vw 0 2vw 0;
  font-variant: small-caps;
  font-size: 4vw;
  color: white;
}

.words h2 {
  color: #ccc;
  text-align: center;
  font-size: 3vw;
  font-variant: small-caps;
  font-family: Georgia, serif;
}

.words h4 {
  color: #ccc;
  margin: 0;
  text-align: center;
  font-size: 1.5vw;
  font-style: italic;
  font-family: Georgia, serif;
}

.words h6 {
  margin: 0 5vw 0 5vw;
  font-family: Georgia, serif;
	font-size: 1.4vw;
  font-style: italic;
  line-height: 2.2vw;
  color: #ccc;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  .m-scene {

    .scene_element {
      animation-duration: 0.25s;
      transition-timing-function: ease-in;
      animation-fill-mode: both;
    }

    .scene_element--fadeinup {
      animation-name: fadeInUp;
    }

  }



/*.scales_illustration {
  position: absolute;
  display: flex;
  margin-top: -10vw;
  margin-left: 10vw;
  width: 30vw;
  height: 8vw;
  padding: 0;

}*/
