body {
  background-image: url(images/black_white.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color:#eeeeee;
  color: #444444;
}

.button {

  background-color: #eeeeee;
  font-family: Trebuchet, sans-serif;
  font-size: 18px;
  color: #444444;
  position: absolute;
  left: 43%;
  top: 70%;
  float: left;
  transition: all 0.5s;
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  opacity: .7;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: .5;
  right: 0;
}

a {
  text-decoration: none;
  font-family: Trebuchet, sans-serif;
  font-weight: bold;
  color: #444444;
}
